# Environment Aliases
alias ld="ls -ld */"  # See only directories
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls --color=auto'


alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Postgres start and stop aliases
alias pgstart="postgres -D ~/psql/data >logfile 2>&1 &"

# Cuz fuck .DS_Store
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

# Ask the computer nicely...
alias plz="sudo"

# Display all aliases
alias listaliases="alias | sed 's/=.*//'"

# I wanna go fast
alias speedtest="wget -O /dev/null http://speed.transip.nl/100mb.bin"

# ---------- Workspace Aliases ----------

export WD='mistaken-blesbok'

alias gpd='cd ~/Documents/developer/projects'
alias gwd='cd ~/Documents/developer/projects/bookstores/$WD'
alias golos='cd ~/Documents/developer/LOS'

alias editbash='atom ~/.dotfiles'
alias bn='babel-node $argv'


# --------- Git Aliases ---------

alias ga='git add $argv'
alias gst='git status'
alias gp='git push $argv'
alias gl='git pull $argv'
alias gb='git branch $argv'
alias gc='git commit $argv'
alias gco='git checkout $argv'

alias grv='git remote -v'
alias gbv='git branch -vv'
alias glog='git log --oneline --decorate --graph'
