# Environment Aliases
alias ld="ls -ld */"  # See only directories
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

if [ '$OS' = 'Linux' ]; then
  alias ls='ls --color=auto'
fi

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Check file sizes of current directory
alias fsizes="du -hd 1 | sort"

# Cuz fuck .DS_Store
alias fuckds="find / -type f -name '*.DS_Store' -ls -delete"

# Ask the computer nicely...
alias plz="sudo"

# Display all aliases
alias listaliases="alias | sed 's/=.*//'"

# I wanna go fast
alias speedtest="wget -O /dev/null http://speed.transip.nl/100mb.bin"

# ---------- Workspace Aliases ----------

export WD='git_hub_pages'

alias gosp='cd ~/Documents/developer/OSS'
alias gopo='cd ~/Documents/sdeveloper/projects/fryymann715.github.io'
alias gpd='cd ~/Documents/developer/projects'
alias gwd='cd /Users/ideans/Documents/developer/projects/$WD'

alias editbash='atom ~/.dotfiles'
alias bn='babel-node $argv'

alias npmbabel='npm install --save-dev babel-core babel-cli babel-preset-env'
alias npmreact='npmbabel ; npm install --save-dev babel-preset-react react react-dom'


# --------- Git Aliases ---------

alias ga='git add $argv'
alias gst='git status'
alias gp='git push $argv'
alias gl='git pull $argv'
alias gb='git branch $argv'
alias gc='git commit $argv'
alias gco='git checkout $argv'

alias grv='git remote -v'
alias gbv='git branch -vv'
alias glog='git log --oneline --decorate --graph'
